<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.kpi.comsys.androidrunner">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_marathon_runner_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_marathon_runner_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidRunner"
        android:usesCleartextTraffic="true">
        <activity android:name=".SingleMarathonActivity" />
        <activity android:name=".InfoMarathonActivity" />
        <activity android:name=".UsersActivity" />
        <activity android:name=".permission.MapsPermissionActivity" />
        <activity android:name=".RunActivity" />
        <activity android:name=".FriendsPostsActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".MarathonsActivity" />
        <activity android:name=".StatusActivity" />
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".UsersPostsActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>